beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2024.7.4
charset-normalizer==2.0.5
click==8.0.1
colorama==0.4.4
comtypes==1.1.10
futures==3.1.1
goslate==1.5.1
idna==3.2
PyDictionary==2.0.1
pypiwin32==223
pyttsx3==2.90
pywin32==301
requests==2.32.2
soupsieve==2.2.1
urllib3==1.26.6